/*Global settings*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Variable1: rgba(0, 0, 0, 0.75);
  --Variable2: rgba(255, 255, 255, 0.75);
  --Variable3: rgb(255, 0, 0);
}

/*Background image*/
body {
  background-image: url("./Backgrounds/gray_bg.png");
  background-color: white;
  background-position: center;
  background-size: 85%;
}

/*Navigation bar - I want to put it in the middle as a row*/
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.nav h1 {
  background-color: var(--Variable1);
  color: var(--Variable3);
}

.nav ul {
  color: var(--Variable3);
}
.nav ul li {
  background-color: var(--Variable1);
  color: var(--Variable3);
  border-radius: 15px;
  width: 100%;
  padding: 40px 35px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
/*Projects section - I want to put it in the middle as a row under the other links*/
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.projects ul li {
  background-color: var(--Variable1);
  color: var(--Variable3);
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

/*Links above should change this state to go between these sections.*/
/*Abouts*/

.about-short {
  background-color: var(--Variable1);
  color: var(--Variable3);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 25px;
  margin: 25px;
}

.about-long {
  background-color: var(--Variable1);
  color: var(--Variable3);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 25px;
  margin: 25px;
}

.five-year {
  background-color: var(--Variable1);
  color: var(--Variable3);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 25px;
  margin: 25px;
}

.footer1 {
  background: var(--Variable2);
  border-radius: 15px;
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
}
/* ------------- 768 ------------- */
@media screen and (max-width: 768px) {
}
