/*Global settings*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --Variable1: rgb(0, 0, 0);
    --Variable2:rgba(255, 0, 0, .8);
    --Variable3: rgba(251, 255, 0, 0.76);
  }

  .links {
    display: flex;
    flex-direction: row;
  }
  
  .links ul {
    list-style-type: none;
  }

/*Header and nav style*/
header {
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: 80%;
    background-image: url("./Backgrounds/Background-01.svg"); /*Add photo here*/
    background-size: cover;
    background-position: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.hero {
    background-image: url("./Backgrounds/Background-01.svg"); /*Add photo here*/
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
  }

  body {
    background-image: url("./Backgrounds/Background-01.svg"); /*Add photo here*/
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
  }

footer {
    background: var(--Variable2);
    border-radius: 15px;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {}
/* ------------- 768 ------------- */
@media screen and (max-width: 768px) {}