/* variables */
:root {
  --white: #fff;
  --green: #0f9;
  --black: #444;
  --blackTransparent: rgba(68, 68, 68, 0.5);
  --red: #ff0800;
  min-width: 540px;
}
a:link {
  color: var(--red);
}
/* Styles */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  font-size: 1.1rem;
}

h1 {
  font-size: 2rem;
  color: var(--green);
  text-transform: uppercase;
  letter-spacing: 15px;
  outline: 3px solid var(--white);
  outline-offset: 0.25em;
  display: inline-block;
  margin: 0.25em 0 0.5em;
}
h1 span {
  font-weight: 300;
}

h2 {
  color: var(--red);
  font-size: 1.6rem;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 2rem;
  color: var(--green);
  text-transform: uppercase;
  letter-spacing: 15px;
  outline: 3px solid var(--black);
  outline-offset: 0.25em;
  display: inline-block;
  margin: 0.25em 0 0.5em;
}

p span {
  color: var(--green);
}

.btn {
  display: inline-block;
  padding: 0.7em 1.7em;
  background: var(--green);
  color: var(--black);
  font-weight: 600;
  text-decoration: none;
}

.nav :hover {
  background: darken(var(--green), 10%);
}

.hero {
  background-color: #444;
  background-image: url("./photos/canyon.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  height: 100vh;
  padding: 1em;
  color: var(--white);
  /* Positioning */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav a {
  text-decoration: none;
}
.nav {
  padding: 3vh 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

@media (min-width: 50rem) {
  .nav {
    flex-direction: row;
  }
}

.feature {
  padding: 6vh 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 10%;
}

.projects {
  padding: 6vh 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

@media (min-width: 50rem) {
  .projects {
    flex-direction: row;
  }
}

.project {
  flex-basis: 25%;
}

@media (min-width: 50rem) {
  .project {
    flex-basis: 30%;
  }
}

.about {
  background-image: url("./photos/rock2.jpg");
  background-size: cover;
  padding: 10vh 0;
  color: var(--white);
  display: flex;
  justify-content: flex-end;
}

.about-text {
  flex-basis: 100%;
  padding: 0 2em;
  background-color: var(--blackTransparent);
}

@media (min-width: 50rem) {
  .about-text {
    flex-basis: 50%;
  }
}
