/*Global settings*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Variable1: rgba(0, 0, 0, 0.75);
  --Variable2: rgba(255, 255, 255, 0.55);
  --Variable3: rgb(0, 0, 0); /*Page text*/
  --Variable4: rgba(43, 41, 41, 0.5); /*Footer white text*/
}
/*pseudo-classes*/
/*pseudo-classes*/
/*pseudo-classes*/
a:hover {
  color: red;
  font-size: 28px;
}
/*pseudo-classes*/
/*pseudo-classes*/
/*pseudo-classes*/

/*!Removes default blue color, allows new color*/
a {
  color: inherit;
  padding: 20px;
  text-align: center;
  font-size: 26px;
  font-family: sans-serif;
}

h2 {
  font-size: 24px;
  font-family: "fantasy";
}
h3 {
  font-size: 22px;
  font-family: "fantasy";
}

#me {
  align-items: center;
}

#me div h1 {
  font-size: 48px;
}

#me div h2 {
  font-size: 36px;
}

#me div img {
  border-radius: 15px;
}

/*!Removes bullets from list in navigation buttons*/
li {
  list-style-type: none;
}

/*Background image*/
body {
  background-image: url("./Backgrounds/F_Background2.png");
  background-color: black;
  background-position: center;
  background-size: 100%;
}
/*TODO Aling the project above repo link*/
/*TODO Make Project/Repo links flex wrap*/
/*TODO make change state of abouts, different pages?*/

/*Navigation bar - I want to put it in the middle as a row*/
section {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--Variable2);
  color: var(--Variable3);
  border-radius: 25px;
  padding: 20px;
}

.nav div,
.projects div {
  flex-direction: column;
  text-align: center;

  align-content: center;
}

/*Links above should change this state to go between these sections.*/
/*About nav buttons*/
/*!In theory I want these buttons to change the entire section*/
.buttons {
  justify-content: space-evenly;
  padding: 40px;
  background: var(--Variable2);
  color: var(--Variable3);
  border-radius: 25px;
  margin-left: 150px;
  margin-right: 150px;
}

.buttons ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*Abouts*/

#about-short,
#about-long,
#five-year {
  background-color: var(--Variable2);
  color: var(--Variable3);
  border-radius: 25px;
  padding: 40px;
  margin: 100px;
}

#about-short h2,
#about-long h2,
#five-year h2,
#five-year h3 {
  text-align: center;
}

#about-short p,
#about-long p,
#five-year p {
  text-align: justify;
  font-size: 18px;
  font-family: "Verdana";
}

.footer1 {
  /*border-radius: 15px;*/
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: x-large;
  font-family: "Franklin Gothic Medium";
}

.footer1 img,
.footer div {
  margin-left: 40px;
  margin-right: 40px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
}
/* ------------- 768 ------------- */
@media screen and (max-width: 768px) {
}
